.App {
  text-align: center;
  background-color: #191b1f;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.Header-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(25, 27, 31);
  border-radius: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 30px;
}

.App-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Form-container {
  min-width: 400px;
  background: #000000;
  border-radius: 20px;
  padding: 30px 50px;
}

.Red {
  background-color: #8f1a2f;
}

.Green {
  background-color: #398c32;
}

.Purple {
  background-color: #5c2587;
}
